%border {
  border: 2px solid black;
}
$mobile: 470px;
$desktop: 471px;
@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: ($desktop)) {
    @content;
  }
}
