$black: rgb(30, 30, 30);
$mobile: 550px;
$desktop: $mobile + 1px;
$desktop-font-size: 25px;
$mobile-font-size: 13px;
%border {
  border: 2px solid $black;
}
@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}
@mixin middle {
  @media (min-width: $desktop) and (max-width: 945px) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: ($desktop)) {
    @content;
  }
}
