$black: rgb(30, 30, 30);
$hover: rgb(230, 230, 230);
$mobile: 550px;
$desktop: $mobile + 1px;
$desktop-font-size: 25px;
$mobile-font-size: 13px;

@mixin desktop {
  @media (min-width: ($desktop)) {
    @content;
  }
}
@mixin middle {
  @media (min-width: $desktop) and (max-width: 945px) {
    @content;
  }
}
@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}
%border {
  border: 2px solid $black;
  @include mobile {
    border: 1px solid $black;
  }
}
%border-radius {
  @include mobile {
    border-radius: 5px;
  }
  @include desktop {
    border-radius: 10px;
  }
}
%shadow {
  box-shadow: 0px 0px 10px 1px rgba(38, 38, 38, 0.5);
  @include mobile {
    box-shadow: 0px 0px 5px 1px rgba(38, 38, 38, 0.5);
  }
}
