@import "./reset";
@import "./utils";

* {
  @include mobile {
    font-size: $mobile-font-size;
  }
  @include desktop {
    font-size: $desktop-font-size;
  }
}
#root {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 30px;
}
body {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(#e66465, #9198e5);
  background-attachment: fixed;
}
header {
  width: 100%;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.malgun-gothic {
  font-family: "맑은 고딕", "NanumGothic", sans-serif;
}
.no-scroll {
  overflow: hidden !important;
}
.relative {
  position: relative;
}
.sub-icon-container {
  position: absolute;
  bottom: 0;
  right: -35px;
  width: 30px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 5px 0;
}
.config-icon {
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  svg {
    font-size: 20px;
  }
  &:hover {
    transform: rotate(30deg);
  }
}
.toolTip {
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $black;
  color: white;
  cursor: pointer;
  @extend %border;
  border-radius: 50%;
  position: relative;
  svg {
    font-size: 10px;
  }
}
.toolTip__text {
  visibility: hidden;
  padding: 20px;
  position: absolute;
  z-index: 3;
  display: flex;
  align-items: center;
  text-align: center;
  top: 35px;
  width: 120px;
  height: 100px;
  background-color: rgb(84 84 84);
  border-radius: 10px;
  color: white;
  cursor: auto;
  @extend %shadow;
  &::after {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 10px;
    bottom: 100%;
    left: 50%;
    margin-left: -10px;
    border-color: transparent transparent rgb(84 84 84) transparent;
  }
}
.toolTip:hover .toolTip__text {
  visibility: visible;
}
