@import "./reset";
@import "./utils";

body {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#root {
  width: 100%;
  min-height: max-content;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: auto;
  background: linear-gradient(#e66465, #9198e5);
  background-attachment: fixed;
}
header {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.malgun-gothic {
  font-family: "맑은 고딕", "NanumGothic", sans-serif;
}
.no-scroll {
  overflow: hidden !important;
}
.relative-header {
  position: relative;
  width: 30%;
  min-width: 140px;
}
.swal-min-width {
  min-width: 670px;
}
.sub-icon-container {
  position: absolute;
  bottom: 0;
  right: -35px;
  width: 30px;
  padding: 5px 0;
  @include mobile {
    right: -20px;
    width: 15px;
    padding: 3px 0;
  }
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
.config-icon {
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  svg {
    font-size: 20px;
    @include middle {
      font-size: 15px;
    }
    @include mobile {
      font-size: 10px;
    }
  }
  &:hover {
    transform: rotate(30deg);
  }
}
.toolTip {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $black;
  color: white;
  cursor: pointer;
  @extend %border;
  border-radius: 50%;
  position: relative;
  font-size: 10px;
  width: 15px;
  height: 15px;
  @include middle {
    font-size: 7px;
    width: 10px;
    height: 10px;
  }
  @include mobile {
    font-size: 5px;
    width: 7px;
    height: 7px;
  }
}
.toolTip__text {
  visibility: hidden;
  padding: 20px;
  position: absolute;
  z-index: 3;
  display: flex;
  align-items: center;
  text-align: center;
  top: 35px;
  width: 120px;
  height: 100px;
  background-color: rgb(84 84 84);
  border-radius: 10px;
  color: white;
  cursor: auto;
  font-size: 15px;
  @include mobile {
    top: 20px;
    width: 80px;
    height: 50px;
    padding: 10px;
    font-size: 10px;
  }
  @extend %shadow;
  &::after {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 10px;
    bottom: 100%;
    left: 50%;
    margin-left: -10px;
    border-color: transparent transparent rgb(84 84 84) transparent;
  }
}
.toolTip:hover .toolTip__text {
  visibility: visible;
}
