@import "./Output.scss";
@import "./Table.scss";

body,
textarea,
input {
  font-family: "맑은 고딕", "NanumGothic", sans-serif;
}
main {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  margin-top: 50px;
}

.transform-btn {
  font-family: "Do Hyeon", sans-serif;
}
.btn-margin {
  margin-bottom: 10px;
}
