@import "./utils";

.btn {
  font-family: "Do Hyeon", sans-serif;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  &:hover {
    background-color: $hover;
  }
  &:active {
    background-color: rgb(200, 200, 200);
  }
}
.btn--emphasize {
  @extend %border;
  @extend %shadow;
}
.btn--main-tranform {
  border-radius: 20px;
  @include mobile {
    width: 50%;
    font-size: $mobile-font-size + 10px;
    border-radius: 12px;
    padding-top: 0.2em;
  }
  @include desktop {
    width: 30%;
    min-width: 340px;
    font-size: $desktop-font-size + 10px;
  }
}

.btn--delete {
  padding: 0 5px;
  border-radius: 7px;
  @extend %border;
  svg {
    font-size: 20px;
  }
}
.btn--size-indicator {
  width: 30%;
  min-width: 65px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
  padding-top: 0.1em;
  @extend %border;
  @extend %border-radius;
  &:hover {
    background-color: rgb(230, 230, 230);
    button {
      background-color: rgb(230, 230, 230);
    }
  }
  &:active {
    background-color: rgb(200, 200, 200);
    button {
      background-color: rgb(200, 200, 200);
    }
  }
}

.btn--textarea-left {
  @extend %border;
  line-height: 1;
  &:first-child {
    padding: 0.2em 0;
    border-bottom: unset;
  }
  &:last-child {
    padding: 0.5em 0;
  }
  text-align: center;
}
