@import "./utils";

.sub-btn-container {
  display: flex;
  justify-content: space-between;
  width: 40%;
  margin: 20px 0px;
  padding: 0px 2%;
  box-sizing: border-box;
  @include mobile {
    width: 50%;
    margin: 10px 0px;
  }
}
.sub-btn-container__btn {
  border-radius: 10px;
  font-size: 20px;
  @include middle {
    font-size: 15px;
    border-radius: 7px;
  }
  @include mobile {
    font-size: 10px;
    border-radius: 5px;
  }
  width: 30%;
}
.input--file {
  display: none;
}
.importCsv__text {
  text-align: center;
  padding: 0 10px;
}
