@import "./utils";

.modal {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 2;
  top: 0;
  color: rgb(84 84 84);
  overflow-y: auto;
}
.modal__content {
  width: 50%;
  font-size: 50px;
  height: 30vh;
  @include mobile {
    width: 80%;
    font-size: 30px;
    height: 30vh;
  }
  margin: 10px 0;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Do Hyeon", sans-serif;
  @extend %shadow;
  @keyframes popup {
    0% {
      transform: scale(0.5);
      opacity: 0;
    }
    70% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  animation: 0.2s ease-in-out popup;
}
.modal__content--download {
  height: max-content;
  padding: 30px 0;
}
.modal__content--config {
  height: max-content;
  width: max-content;
  padding: 40px 50px;
  @include middle {
    padding: 30px;
  }
  @include mobile {
    padding: 20px;
  }
  align-items: flex-start;
}
.modal__content--edit {
  height: max-content;
  width: max-content;
  padding: 40px 50px;
  @include mobile {
    padding: 20px 40px;
  }
  align-items: flex-start;
}
.modal__table-size-wrapper {
  display: flex;
  flex-direction: column;
  height: 60%;
  justify-content: space-evenly;
  align-items: center;
}
.modal__table-size-input-container {
  display: flex;
  justify-content: space-between;
  width: 50%;
}
.modal__input {
  text-align: center;
  font-family: "Do Hyeon", sans-serif;
  border: 2px solid $black;
  border-radius: 5px;
  &:hover {
    background-color: $hover;
    border: 2px solid $black;
  }
  &:focus {
    outline: 2px solid gray;
  }
}
.modal__input--table-size {
  font-size: 30px;
  @include mobile {
    font-size: 20px;
  }
  width: 30%;
  color: rgb(84 84 84);
}
.modal__input--download {
  width: 80%;
  font-size: 20px;
  @include middle {
    font-size: 15px;
  }
  @include mobile {
    font-size: 10px;
  }
  padding: 5px 10px;
  &::placeholder {
    color: gray;
  }
}
.modal__download-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80%;
  width: 80%;
}
.modal__download-form-wrapper {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
}
.modal__download-question {
  font-size: 40px;
  @include mobile {
    font-size: 25px;
  }
  text-align: center;
}
.modal__file-name-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  text-align: center;
  margin-bottom: 10px;
  @include mobile {
    font-size: 15px;
  }
  color: gray;
  word-break: break-all;
  white-space: break-spaces;
}
.modal__no-yes-btn-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 13px;
}
.modal__no-yes-btn-container--edit {
  margin-top: 5px;
}
.modal__config-shortcut-btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.modal__checkbox-container {
  display: flex;
  align-items: center;
  font-size: 40px;
  height: 40px;
  padding: 5px 10px;
  margin-bottom: 5px;
  @include mobile {
    height: 30px;
    padding: 0px 5px;
    margin-bottom: 0;
  }
  &:focus {
    outline: none;
    border: 2px solid black;
  }
}
.modal__checkbox-container--shortcut {
  margin-bottom: 0;
  padding: 0;
  padding-right: 10px;
  padding: 5px 10px;
  height: max-content;
}
.modal__checkbox-text {
  line-height: 1;
  @include middle {
    font-size: 30px;
  }
  @include mobile {
    font-size: 15px;
  }
}
.modal__checkbox {
  margin: 0;
  margin-right: 7px;
}
.modal__title {
  @include middle {
    font-size: 40px;
  }
  @include mobile {
    font-size: 25px;
  }
}
.modal__shortcut-container {
  display: flex;
  align-items: center;
}
