.output-container {
  display: flex;
  align-items: flex-start;
  margin-left: 30px;
  .output-container__btn-container {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 10px;
  }
}
.space-change-btn {
  text-align: center;
}
