@import "./utils";

textarea {
  @extend %border;
  @extend %shadow;
  @include mobile {
    resize: none;
  }
}
.output-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 50px;
}
.btn-container--textarea-left {
  @include mobile {
    width: 100px;
  }
  @include desktop {
    width: 150px;
  }
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  margin-right: 10px;
}
.btn--textarea-left {
  @extend %border;
  line-height: 1;
  &:first-child {
    padding: 0.2em 0;
    border-bottom: unset;
  }
  &:last-child {
    padding: 0.5em 0;
  }
  text-align: center;
}
