@import "./utils";

.output-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
  padding: 0 50px;
  padding-bottom: 30px;
  @include mobile {
    padding: 0 10px;
    padding-bottom: 10px;
  }
}
.output-container__pre-container {
  width: max-content;
  max-width: 100%;
}
.output-container__pre {
  @extend %border;
  @extend %shadow;
  background-color: white;
  overflow-x: auto;
  height: max-content;
  font-size: 25px;
  padding: 20px;
  @include mobile {
    font-size: 13px;
    padding: 10px;
  }
}
.btn-container--textarea-left {
  background-color: $black;
  @extend %border;
  gap: 2px;
  width: 150px;
  min-width: 150px;
  @include mobile {
    width: 90px;
    min-width: 90px;
    gap: 1px;
  }
  display: grid;
  height: 100%;
  margin-right: 10px;
}
.sub-btn-container__btn--output {
  line-height: 1;
  width: 45%;
  padding: 10px 0;
  @include middle {
    padding: 7px 0;
  }
  @include mobile {
    padding: 5px 0;
  }
}
