@import "./utils";

.table-system-wrapper {
  flex-shrink: 1;
  @include desktop {
    width: 50%;
  }
  @include middle {
    width: 90%;
  }
  @include mobile {
    width: 90%;
  }
  height: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  display: flex;
  justify-content: center;
}
.top-container {
  position: absolute;
  width: 50%;
  display: flex;
  @include mobile {
    left: 60px;
  }
  @include desktop {
    left: 40px;
  }
}
.top-container__size-indicator {
  font-family: "Do Hyeon", sans-serif;
  width: 30%;
  min-width: 65px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  padding-top: 0.1em;
  @extend %border;
  @extend %border-radius;
}
.btn-container--top {
  display: flex;
  top: -35px;
  @extend %border;
  button {
    color: red;
    &:first-child {
      @include mobile {
        border-right: 1px solid $black;
      }
      @include desktop {
        border-right: 2px solid $black;
      }
    }
  }
}
.bottom-container {
  @include mobile {
    margin-top: 40px;
  }
  @include desktop {
    margin-top: 60px;
  }
  display: flex;
  width: 100%;
}
.btn-container--table-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  button {
    color: blue;
    @extend %border;
    &:first-child {
      border-bottom: unset;
    }
  }
}
.table-container {
  display: flex;
  justify-content: flex-start;
  width: 70%;
  position: relative;
  table {
    position: absolute;
    display: block;
    padding-right: 10%;
    tbody {
      @extend %shadow;
    }
    td {
      background: white;
      @extend %border;
      div {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        input {
          all: unset;
          text-align: center;
          @include mobile {
            min-width: 50px;
            height: 20px;
            font-size: $mobile-font-size;
            padding: 5px 10px;
          }
          @include desktop {
            min-width: 90px;
            height: 40px;
            font-size: $desktop-font-size;
            padding: 15px 25px;
          }
        }
      }
    }
  }
}
