@import "./reset";
@import "./mixin";

table {
  border-collapse: collapse;
  font-size: 30px;
  position: relative;
}
td {
  @extend %border;
  height: 40px;
  div {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    input {
      all: unset;
      font-size: 15px;
      text-align: center;
      min-width: 100px;
      &::placeholder {
        color: blue;
      }
    }
  }
}

.cell {
  @extend %border;
}
.table-container {
  position: relative;
  display: flex;
  // justify-content: center;
  width: 300px;
  table {
    margin-left: 50px;
    margin-right: 50px;
  }
}
.row-btns {
  display: flex;
  width: 100%;
  justify-content: center;
  top: -35px;
  position: absolute;
  button {
    color: red;
  }
}
.col-btns {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 10px;
  button {
    color: blue;
  }
}
